<div class="col-lg-6">
    <div class="box">
        <alert *ngIf="alert.type" 
            [type]="alert.type" 
            dismissible="true">{{alert.message}}
        </alert>
        <div class="box-header"></div>
        <div class="box-body">
            <div class="form-group">
                <label for="questionTagName">{{'NAME' | translate }}</label>
                <input id="questionTagName" 
                    type="text" 
                    class="form-control"
                    [(ngModel)]="questionTag.name" />
            </div>
            <div class="form-group">
                <label for="questionTagDescription">{{ DESCRIPTION }}</label>
                <textarea id="questionTagDescription" 
                    class="form-control"
                    [(ngModel)]="questionTag.description"></textarea>
            </div>
            <button type="submit" 
                class="btn btn-primary"
                (click)="addQuestionTag()"><i class="fa fa-plus"></i> 
                {{ 'ADD' | translate }}
            </button>
        </div>
        
        <div class="box-header">
            <h3>{{'QUESTION_TAG_LIST' | translate }}</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <th class="col-md-4">{{'NAME' | translate }}</th>
                        <th class="col-md-6">{{'DESCRIPTION' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let qtag of questionTags'>
                        <td class="col-md-4">{{qtag.name}}</td>
                        <td class="col-md-6">{{qtag.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>    
    
</div>