table tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

td span.remove {
    visibility: hidden;
}

td span.remove:hover {
    visibility: visible;
}

table tr:hover td span.remove {
    visibility: visible;

}

.field-required {
    margin-top: 2px;
    height: 35px;
    line-height: 0px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.btn.cancel{
    margin-left: 10px;
}