<div class="row">
    <div class="col-md-12">
        <ba-card baCardClass="with-scroll">
            <div class="form-group">
                <button class="btn btn-primary btn-with-icon" 
                    type="button"
                    (click)="add()">
                    <i class="ion-ios-plus-outline"></i>{{'ADD_EXAM_PAPER' | translate }}
                </button>
            </div>
            <div class="horizontal-scroll">
                <table class="table table-hover">
                    <thead>
                        <tr class="black-muted-bg">
                            <th>#</th>
                            <th>{{'NAME'|translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ep of examPaper.data" 
                            class="no-top-border">
                            <td>{{ep.id}}</td>
                            <td [innerHTML]="ep.name"></td>
                            <td class="ng2-smart-actions">
                                <a class="ng2-smart-action ng2-smart-action-delete-delete" 
                                    href="void:javascript(0)">
                                    <i class="fa fa-times remove pull-right" 
                                        (click)="removeExamPaper(ep)" 
                                        title="{{'REMOVE_EXAM_PAPER_TITLE' | translate}}">
                                    </i>
                                </a>           
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination [collectionSize]="examPaper.totalItems" 
                    [(page)]="examPaper.page" 
                    [maxSize]="examPaper.size" 
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="onPageChange($event)"></ngb-pagination>
            </div>
        </ba-card>
    </div>    
</div>

