@import "../../../../../../theme/sass/conf/conf";

.modal-content {
  background-color: $default;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color: $input-text;
    border-color: $border-input;
}

.card {
  margin-bottom: 0 !important;
}

.btn.btn-default {
  color: $input-text
}