<div class="row">
    <div class="col-md-12">
        <ba-card baCardClass="with-scroll">
            <alert *ngIf="alert.type" [type]="alert.type" dismissible="true" dismissOnTimeout="3000">{{alert.message}}
            </alert>
            <form class="row">
                <div class="col-md-12 form-group">
                    <button type="submit" 
                        class="btn btn-primary" 
                        (click)="openAddDialog()" translate><i class="fa fa-plus"></i> 
                        {{'ADD'}}
                    </button>
                </div>
                <div class="form-group col-md-6">
                    <label translate>{{ 'GROUP' }}</label>
                    <select id="groups" name="groups" class="form-control" [(ngModel)]="selectedGroup" (ngModelChange)="onChangeGroup($event)"> 
                            <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
                        </select>
                </div>
                <div class="col-md-6 form-group">
                    <label translate>{{ 'SEARCH' }}</label>
                    <div class="input-group">
                        <input #searchBox class="form-control" placeholder="{{questionTagsTranslation.searchPlaceholder}}" type="text"
                            (keyup)="onKeyStroke(searchBox.value)" />
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button" translate>{{'SEARCH'}}</button>
                        </span>
                    </div>
                </div>                                
                <div class="row">
                    <div *ngFor="let hero of filteredList | async" class="search-result">
                    </div>
                </div>
                <div class="col-md-12">
                    <p-treeTable [value]="dataGrid" 
                        selectionMode="single" 
                        (onNodeSelect)="openEditDialog($event)"
                        (onNodeExpand)="onNodeExpand($event)">
                        <p-column translate field="name" header="{{'NAME'|translate}}"></p-column>
                        <p-column translate field="description" header="{{'DESCRIPTION'|translate}}"></p-column>
                    </p-treeTable>
                </div>
            </form>
        </ba-card>
    </div>    
</div>