:host /deep/ ul.btn-list {
    margin: 0 0 0 -18px;
    padding: 0;
    padding-top: 6px;
    clear: both;
    float: right;
    li {
      margin: 0px 0 12px 18px;
      padding: 0;
      list-style: none;
      float: left;
    }
  }