<div class="col-md-6">
    <router-outlet></router-outlet>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ view.title }}</h3>
        </div>
        <div>
            <div class="box-body">
                <div class="form-group required">
                    <label for="questionContent" class="control-label"> {{ 'CONTENT' | translate }} </label>
                    <ckeditor 
                        id="questionContent"
                        name="questionContent"
                        [(ngModel)]="question.content" 
                        (change)="onChange($event)" 
                        (ready)="onReady($event)"
                        (focus)="onFocus($event)" 
                        (blur)="onBlur($event)" debounce="500">
                    </ckeditor>
                </div>
                <div class="form-group">
                    <label for="questionTags"> {{ 'QUESTION_GROUP' | translate }} </label>
                    <tag-input id="questionTags" 
                        name="questionTags"
                        [ngModel]="selectedQtags" [identifyBy]="'id'" [displayBy]="'name'"
                        [addOnBlur]="true"
                        [clearOnBlur]="true"
                        (onAdd)="onItemAdded($event)"
                        (onSelect)="onItemSelected($event)"
                        (onRemove)="onItemRemoved($event)"
                        theme='bootstrap'>
                        <tag-input-dropdown 
                            [displayBy]="'name'"
                            [identifyBy]="'id'"
                            [autocompleteItems]="questionTags">
                        </tag-input-dropdown>
                    </tag-input>
                </div>
                <div class="form-group">
                    <label for="questionTypes"> {{ 'QUESTION_TYPE' | translate }} </label>
                    <select id="questionTypes" 
                        name="questionTypes" 
                        class="form-control"
                        [(ngModel)]="question.type"> 
                        <option *ngFor="let type of questionTypes" [value]="type.id">{{type.name}}</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label for="answers" class="control-label"> {{ 'QUESTION_ANSWERS' | translate }} </label>
                    <button type="submit" 
                        class="btn btn-primary pull-right" 
                        (click)="addAnswer()"><i class="fa fa-plus"></i> 
                        {{ 'ADD_ANSWERS' | translate }}
                    </button>
                </div>
                <div class="input-group mt5" [ngClass]="{'has-success': answer.dss}" *ngFor="let answer of question.answers; let ia = index;">
                    <span class="input-group-addon">
                          <input type="checkbox" 
                            name="{{answer.dss}}-{{ia}}" 
                            [(ngModel)]="answer.dss" />
                    </span>
                    <span class="input-group-addon">
                          {{answer.answerName}}
                    </span>
                    <input #answers id="answer{{answer.answerName}}"
                        name="{{answer.body}}{{ia}}"
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="answer.body" />
                    <span class="input-group-addon remove-answer">
                        <i class="fa fa-times" title="{{'REMOVE_ANSWER' | translate}}"
                        (click)="removeAnswer(answer)"></i>
                    </span>
                </div>
                <div class="form-group mt5">
                    <label>{{ 'DIFFICULT_LEVEL' | translate }}</label>
                    <rating class="row" [(ngModel)]="question.difficultLevel">
                    </rating>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" 
                    class="btn btn-default pull-right cancel" 
                    (click)="cancel()"><i class="fa fa-times"></i>
                    {{ 'BUTTON_CANCEL' | translate }}
                </button>
                <button type="submit" 
                    class="btn btn-primary pull-right" 
                    [disabled]="!isValid()"
                    (click)="save()"><i class="fa fa-pencil-square-o"></i> 
                    {{ view.okText }}
                </button> 
              </div>
        </div>
    </div>

    <!--Modal-->
    <div class="modal fade" bsModal #uploadModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{ 'QUESTIONS' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">    
                        <div class="col-md-9" style="margin-bottom: 40px">
                            <div><input type="file" ng2FileSelect [uploader]="uploader" multiple /></div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="50%">Name</th>
                                        <th>Size</th>
                                        <th>Progress</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of uploader.queue">
                                        <td><strong>{{ item?.file?.name }}</strong></td>
                                        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                        <td *ngIf="uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <div>
                                    Queue progress:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                                <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" 
                        class="btn btn-default pull-right cancel" 
                        (click)="uploadModal.hide()"><i class="fa fa-times"></i>
                        {{ 'BUTTON_CLOSE' | translate }}
                    </button>
                    <button type="submit" 
                        class="btn btn-primary pull-right"
                        (click)="submitForm()"><i class="fa fa-check"></i> 
                        {{ 'BUTTON_SAVE' | translate }}
                    </button>                    
                </div>
            </div>
        </div>
    </div>
</div>