<div class="col-lg-6">
    <router-outlet></router-outlet>
    <div class="box">
        <alert *ngIf="alert.type" [type]="alert.type" dismissible="true" dismissOnTimeout="3000">{{alert.message}}
        </alert>
        <div class="box-header">
            <h3 class="box-title">{{'QUESTION_LIST' | translate }}</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length">
                        <label>
                            <button type="submit" 
                                class="btn btn-primary pull-right" 
                                (click)="addQuestion()"><i class="fa fa-plus"></i> 
                                {{ 'ADD' | translate }}
                            </button>
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_filter"> 
                        <label>{{ 'SEARCH' | translate }}
                            <input #searchBox class="form-control input-sm" 
                                placeholder="{{'PLACEHOLDER_SEARCH_QUESTIONS' | translate}}"
                                (keyup)="onKeyStroke(searchBox.value)" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let hero of filteredList | async"
                    class="search-result" >
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="col-sm-4">{{'CONTENT' | translate }}</th>
                                <th class="col-sm-8">{{'DESCRIPTION' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let qt of questions; let index=index; let odd=odd; let even=even;' 
                                [ngClass]="{ odd: odd, even: even }"
                                role="row"
                                (click)="showChildModal(qt)">
                                <td class="col-sm-4 qcontent" [innerHTML]="qt.content"></td> 
                                <td class="col-sm-8" >{{qt.description}}
                                    <span class="fa fa-times remove pull-right" (click)="removeQuestion(qt)" title="{{'REMOVE_QUESTION' | translate}}"></span>
                                    <span class="fa fa-pencil-square-o edit pull-right" (click)="editQuestion(qt)" title="{{'EDIT_QUESTION_TITLE' | translate}}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>            
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>
    <!--Modal-->
    <modal #childModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
        <modal-header>
            <h4 class="modal-title pull-left">{{ 'QUESTIONS' | translate }}</h4>
        </modal-header>
        <modal-content>
            <form #questionEditForm="ngForm">
                <div class="form-group">
                    <label for="editQuestionContent" class="control-label">{{'CONTENT' | translate }}</label> 
                    <div id="editQuestionContent" [innerHTML]="question.content"></div>
                </div>  
                <div class="form-group">
                    <label for="editQuestionContent" class="control-label">{{'ANSWERS' | translate }}</label> 
                    <div class="checkbox" *ngFor="let answer of question.answers; let ia = index;">
                        <label class="answer" [ngClass]="{'dss': answer.dss}">
                            <input type="checkbox" 
                                name="{{answer.dss}}-{{ia}}"                                          
                                [(ngModel)]="answer.dss" disabled /> <span>{{answer.answerName}}</span>. <span>{{answer.body}}</span>
                        </label>
                    </div>
                </div>                 
            </form>
        </modal-content>
        <modal-footer>
            <button class="btn btn-default pull-right cancel" (click)="childModal.close()">
                <i class="fa fa-times"></i>
                {{ 'BUTTON_CLOSE' | translate }}</button>
        </modal-footer>
    </modal>
</div>