<div class="col-md-6">
    <router-outlet></router-outlet>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ view.title }}</h3>
        </div>
        <div>
            <div class="box-body">
                <div class="form-group required">
                    <label for="questionContent" class="control-label"> {{ 'CONTENT' | translate }} </label>
                    <ckeditor 
                        id="questionContent"
                        name="questionContent"
                        [(ngModel)]="question.content" 
                        (change)="onChange($event)" 
                        (ready)="onReady($event)"
                        (focus)="onFocus($event)" 
                        (blur)="onBlur($event)" debounce="500">
                    </ckeditor>
                </div>
                <div class="form-group">
                    <label for="questionTags"> {{ 'QUESTION_GROUP' | translate }} </label>
                    <tag-input id="questionTags" 
                        name="questionTags"
                        [ngModel]="selectedQtags" [identifyBy]="'id'" [displayBy]="'name'"
                        [addOnBlur]="true"
                        [clearOnBlur]="true"
                        (onAdd)="onItemAdded($event)"
                        (onSelect)="onItemSelected($event)"
                        (onRemove)="onItemRemoved($event)"
                        theme='bootstrap'>
                        <tag-input-dropdown 
                            [displayBy]="'name'"
                            [identifyBy]="'id'"
                            [autocompleteItems]="questionTags">
                        </tag-input-dropdown>
                    </tag-input>
                </div>
                <div class="form-group">
                    <label for="questionTypes"> {{ 'QUESTION_TYPE' | translate }} </label>
                    <select id="questionTypes" 
                        name="questionTypes" 
                        class="form-control"
                        [(ngModel)]="question.type"> 
                        <option *ngFor="let type of questionTypes" [value]="type.id">{{type.name}}</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label for="answers" class="control-label"> {{ 'QUESTION_ANSWERS' | translate }} </label>
                    <button type="submit" 
                        class="btn btn-primary pull-right" 
                        (click)="addAnswer()"><i class="fa fa-plus"></i> 
                        {{ 'ADD_ANSWERS' | translate }}
                    </button>
                </div>
                <div class="input-group mt5" [ngClass]="{'has-success': answer.dss}" *ngFor="let answer of question.answers; let ia = index;">
                    <span class="input-group-addon">
                          <input type="checkbox" 
                            name="{{answer.dss}}-{{ia}}" 
                            [(ngModel)]="answer.dss" />
                    </span>
                    <span class="input-group-addon">
                          {{answer.answerName}}
                    </span>
                    <input #answers id="answer{{answer.answerName}}"
                        name="{{answer.body}}{{ia}}"
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="answer.body" />
                    <span class="input-group-addon remove-answer">
                        <i class="fa fa-times" title="{{'REMOVE_ANSWER' | translate}}"
                        (click)="removeAnswer(answer)"></i>
                    </span>
                </div>
                <div class="form-group mt5">
                    <label>{{ 'DIFFICULT_LEVEL' | translate }}</label>
                    <rating class="row" [(ngModel)]="question.difficultLevel">
                    </rating>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" 
                    class="btn btn-default pull-right cancel" 
                    (click)="cancel()"><i class="fa fa-times"></i>
                    {{ 'BUTTON_CANCEL' | translate }}
                </button>
                <button type="submit" 
                    class="btn btn-primary pull-right" 
                    [disabled]="!isValid()"
                    (click)="save()"><i class="fa fa-pencil-square-o"></i> 
                    {{ view.okText }}
                </button> 
              </div>
        </div>
    </div>


    <!--Modal-->
    <modal #childModal>
        <modal-header>
            <h1>Modal header</h1>
        </modal-header>
        <modal-content>
            Hello Modal!
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary" (click)="childModal.close()">close</button>
        </modal-footer>
    </modal>

    <!--<div class="modal fade" bsModal #childModal="bs-modal" 
        [config]="{backdrop: 'static'}" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{ 'QUESTIONS' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <div class="drag-n-drop-container"
                        ngFileDrop
                        [options]="options"
                        (onUpload)="handleUpload($event)"
                        [ngClass]="{'file-over': hasBaseDropZoneOver}"
                        (onFileOver)="fileOverBase($event)">
                    <h1>Drag & Drop</h1>
                    <label class="upload-button">
                        <input type="file"
                            class="hidden"
                            ngFileSelect
                            [options]="options"
                            (onUpload)="handleUpload($event)">
                        Browse
                    </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" 
                        class="btn btn-default pull-right cancel" 
                        (click)="closeModal()"><i class="fa fa-times"></i>
                        {{ 'BUTTON_CLOSE' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>-->
</div>