<div class="auth-main">
  <div class="auth-block">
    <h1 translate>{{'FORGOT_PASSWORD_TITLE'}}</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div *ngIf="!resetPasswordSucceed">
        <div class="form-group row required" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
          <label for="inputEmail3" class="col-sm-2 control-label" translate>{{'login.email'}}</label>
          <div class="col-sm-10">
            <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="{{'login.email' | translate}}">
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth pull-right" translate>{{'RECOVERY_PASSWORD'}}</button>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="resetPasswordSucceed">
        <div>{{'FORGOT_PASSWORD_SUCCESSFUL' | translate}}</div>
        <div [innerHTML]="backToLoginPageMessage"></div>
      </div>
    </form>
  </div>
</div>